@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-w3layouts wrapper">

    <h1>Creative Forget Password Form</h1>

    <div class ="main-agileinfo"> 

        <div class="agileits-top">

        <form asp-action="SendResetPasswordUrl" asp-Controller= "Account" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Email" placeholder="Email">

            <span asp-validation-for="Email" class="text-danger" ></span>

            <br />

                    <input type="submit" class="checkbox">

                    </form>
            </div>

            </div>
            </div>