@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
    <h1>Cretive Reset Password Form</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-controller="ResetPassword" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <br />
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>